:root {
    --bg: #1a1a1a;
    --card-bg: #111111;
    --red: #ff3333;
    --border: 1px solid #222222;
    --radius: 8px;
}
main{
    flex: 1;
    display: block;
}
body { 
    background: var(--bg); 
    color: #fff; 
    font-family: Arial, sans-serif; 
}

#page-header { text-align: center; padding: 40px 20px; }
#page-header h3 { font-size: 34px; color: var(--red); }
#page-header p { color: #888; font-size: 15px; margin-top: 8px; }
#main-layout {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
}

button {
    background: #1a1a1a;
    color: #fff;
    border: 1px solid var(--red);
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

button:hover { background: var(--red); color: #fff; }
#cart-section {
    width: 100%;
    max-width: 900px;
    background: var(--card-bg);
    border: var(--border);
    border-radius: 10px;
    padding: 24px;
    display: flex; 
    flex-direction: column; 
    gap: 16px;
}
#cart-box { 
    min-height: 180px;
    background: #0d0d0d; 
    border: 1px solid #1e1e1e; 
    border-radius: var(--radius); 
    padding: 14px;
}

#cart-list { list-style: none; display: flex; flex-direction: column; gap: 8px; }
#cart-list li {
    display: flex; justify-content: space-between;
    background: #161616; border: 1px solid #2a2a2a;
    padding: 10px; border-radius: 6px; font-size: 14px;
}

#total-box {
    display: flex; justify-content: space-between; align-items: center;
    background: #0d0d0d; border: 1px solid var(--red);
    padding: 14px; border-radius: var(--radius);
}

#total-price { color: var(--red); font-size: 26px; font-weight: bold; }
@media (max-width: 768px) {
    #main-layout { flex-direction: column; }
    .game-card, #cart-section { width: 100%; position: static; }
}