main{
    flex: 1;
}
main hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #555;
    margin: 30px 0; 
}
section{
    text-align: center;
}
#chatbox{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 600px;
    height: 500px;
    border: 2px solid var(--hover-icon);
    border-radius: 15px;
    box-shadow: 0 2px 20px black;
    overflow-y: auto;
    overflow: hidden;
    margin: 40px auto;
}
#chatbox:hover{
    box-shadow: 0 2px 20px var(--hover-icon);
}
#msg_area{
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    height: 100%;
    padding: 20px;
    padding-bottom: 20px;
}
#text_input{
    background-color: var(--background-color);
    display: flex;
    flex: row;
    flex-shrink: 0;
    gap: 10px;
    margin-left: 2px;
    margin-right: 20px;
    height: 60px;
    margin-bottom: 20px;
    margin-top: -12px;
    border-top: 3px solid #555;
    padding-top: 20px;
}
#text{
    outline: none;
    width: 100%;
    margin-left: 2px;
    margin-right: 4px;
    text-align: center;
    border: 2px solid var(--hover-icon);
    border-radius: 30px;
    font-weight: bolder;
    background-color: var(--background-color);
    color: var(--text-color);

}
#text:focus{
    box-shadow: 0 2px 20px var(--hover-icon);
    border: 1px solid var(--hover-icon);
}
#text::placeholder{
    font-weight: bolder;
    font-size: larger;
}
#send_btn{
    border-color: var(--hover-icon);
    background-color: var(--background-color);
    border-radius: 30px;
    color: var(--text-color);
}
#send_btn:hover{
    box-shadow: 0 2px 20px var(--hover-icon);
}