main {
display:block;
}

.specs-table-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* الرأس */
.comparison-header-row {
    display: flex;
    width: 100%;
    background-color:var(--background-color);
    border: 1px solid #333;
    height: 100vh;
}

.header-cell {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    border-right: 1px solid #333;
}

.spec-label-head {
    flex: 0 0 25%;
    background-color:var(--background-color);
}

/* السيرش والقايمة */
.search-wrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
    background:var(--background-color);
    padding: 8px 12px;
    border: 1px solid #444;
    margin-bottom: 25px;
    border-radius: 6px;
}

.search-wrapper label {
    display: block;
    font-size: 10px;
    color:var(--text-color);
    margin-bottom: 4px;
    font-weight: bold;
}

.search-wrapper input {
    width: 100%;
    background: transparent;
    border: none;
    color: var(--text-color);
    outline: none;
    font-size: 16px;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    border: 1px solid #444;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.search-result-item {
    padding: 12px 15px;
    color: var(--text-color);
    cursor: pointer;
    border-bottom: 1px solid #333;
    font-size: 14px;
}

.search-result-item:hover {
    background-color:var(--hover-icon);
    color:var(--text-color);
}

/* الصور */
.image-placeholder {
    width: 100%;
    height: 100%;
    background-color:var(--background-color);
    border: 1px solid #333;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* الجدول */
.compare-table {
    width: 100%;
    border-collapse: collapse;
    background-color:var(--background-color);
    border: 1px solid #333;
    border-top: none;
    table-layout: fixed;
}

.compare-table td {
    padding: 20px;
    border: 1px solid #222;
    color:var(--text-color);
    text-align: center;
}

.spec-label {
    width: 25%;
    text-align: left !important;
    background-color:var(--background-color);
    font-weight: bold;
    color:var(--text-color);
}
.header-cell{
    color:var(--text-color);
    justify-content: center;
    display: flex;
}