* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:var(--background-color);
    color:var(--text-color);
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
}
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color:var(--background-color);
    padding: 50px;
    border-radius: 20px;
    border-top: 6px solid var(--hover-icon);
    width: 400px;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin: 15px;
}

.login-container h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px;
    padding:10px;
}
.login-container input {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background: #1a1a1a;
    border: 1px solid #444;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    outline: none;
}

.login-container input:focus {
    border-color: tomato;
}
.login , .signup{
    padding: 10px;
    width: 50%;
    border-radius: 15px;
    cursor: pointer;
    background-color:var(--background-color);
    color:white;
    margin-top: 20px;
}
.login:hover{
    border-color:var(--hover-icon);
}
.signup:hover{
    border-color:var(--hover-icon);
}
.login  a, .signup a{
text-decoration: none;
color:var(--text-color);
font-size: larger;
}
#theme-toggle{
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    color:var(--text-color);
    margin: 10px;
}