#search_container{
    text-align: center;
    margin-right: 120px;
    font-weight: bold;
    margin-bottom: 25px;
}
#search{
    text-align: center;
    border-radius: 30px;
    width: 400px;
    height: 50px;
    font-size: large;
}
.cards_container , .fav_cards_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.fav_cards_container:empty::after{
    content: "you have no favourite games yet. click the heart button to add some!";
    padding: 20px;
    color:var(--text-color);
    font-size: large;

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 2px 20px black;
    transition: 0.6s;
    width: 180px;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0px 2px 20px var(--hover-icon);
    transform: translateY(-5px);
}
.card-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}
.card_name{
    font-weight: bolder;
    text-align: center;
    color:var(--hover-icon);
}
.add_to_fav{
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    align-self: center;
}
.add_to_fav:hover{
    color: tomato;
}
.info{
    color: var(--text-color);
}
.h3_1{
color: var(--text-color);
}