 main {
    flex: 1;
    padding: 20px; 
}
.fa-user {
  display: block;
  font-size: 170px;  
  margin-bottom: 20px; /* space between icon and form */
}
form {
    flex: 1;
    background-color: #0e0e0e;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #222;
}
.title{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: large;
  font-weight: 500;
}
button {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    transition: 0.2s;
}

.add-account{
    color:black;
    background-color:tomato;
}
.add-account:hover{
   background-color:rgb(236, 74, 46);
   margin:0.05cm;

}
.logout{
   color:black;
   background-color:tomato; 
}

.logout:hover{
   background-color:rgb(236, 74, 46);
   margin:0.05cm; 
}
.change-email{
   color:rgb(0, 0, 0);
   background-color:tomato; 
}
.change-email:hover{
    background-color:rgb(236, 74, 46);
   margin:0.05cm;  
}
.change-password{
   color:black;
   background-color:tomato; 
}
.change-password:hover{
    background-color:rgb(236, 74, 46);
   margin:0.05cm;  
}
input:focus, select:focus {
    border-color: #0000003e;
}
input, select {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 2px solid #2a2a2a;
    background-color: #0f0f14;
    color: #fff;
    outline: none;
}