main{
    flex: 1;
    display: block;
}
#welcome{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    align-items: center;
    width: 100%; 
}

.submit_button{
    background-color:var(--hover-icon);
    color:var(--text-color);
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 30px;
    width: fit-content; /* 34an mykbrsh 3an el kalam ele gwah*/
    border: none;
    color: var(--secondty-color);
    
}


.submit_button:hover{
    transform: scale(1.05);
}


form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 500px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius:6px;
    border: 1.5px solid var(--hover-icon);
    display: block;  /*new line*/
    background-color: white;
    font-weight: bold;
}

.info-item {
    display: flex;
    align-items: center;  
    gap: 15px;     /*icon and link*/       
    margin-bottom: 15px;
}

.info-item a{
  color:var(--text-color);
  text-decoration: none;
}

.info-item a:hover {
    color:var(--hover-icon);       
}

.fa-phone { color: green; }     
.fa-envelope { color: red; }   
.fa-facebook { color: blue ; }   
.fa-github { color: grey; }
label{
    color: var(--text-color);
}
.h4_1{
    color: var(--text-color);
}
.h3_2{
    color: var(--text-color);
}